{{- $env := .Site.Params.envelope | default dict -}}
<div class="formmain">
  <img class="headerimg" src="{{ default `/envelope/cover.png` $env.cover | relURL }}" alt="信笺封面">
  <div class="comments-main">
    <h3 class="title3">✨来自{{ .Site.Params.author.name }}的留言:</h3>
    <div class="comments">
      <p>无论是交流讨论还是对文章提出意见</p>
      <p>都欢迎在此处留言！</p>
    </div>
    <div class="bottomcontent">
      <img class="bottomimg" src="{{ default `/envelope/line.png` $env.line | relURL }}" alt="">
    </div>
    <p class="bottomhr">爱丽丝期待老师的回复！</p>
  </div>
</div>
